body
html
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif
  background: black
  color: #ccc
  margin 0
  padding 0
  width 100%
  height 100%

section 
  display flex
  align-items center
  justify-content center

.genre-container
.playlist-container
  display flex
  justify-content space-around
  flex-wrap wrap
  width 80%
  padding 30px 0 0 0

.genre 
  display flex
  flex-direction column
  padding 5px
  cursor pointer
  p
    position relative
    top 80%
    left 40%
    font-weight bold
  img 
    width 275px
    height 275px

.playlist
  display flex
  flex-direction column
  padding 5px
  cursor pointer
  align-items center
  p
    font-size 18px
  img 
    width 275px
    height 275px
    border-radius 10px

.search-container
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  padding 30px 0 0 0
  .searchField
    width 40%
    padding 10px
    margin-right 10px
    @media screen and (max-width: 1024px)
      width 60%
    @media screen and (max-width: 768px) 
      width 100% 
      margin-bottom 15px
  button 
    width 150px
    height 50px
    cursor pointer
    background-color #000000
    border solid 3px #3eb954
    border-radius 8px
    color #3eb954
    font-style italic
    font-size 15px

.filter-container
  display flex
  justify-content flex-start
  flex-wrap wrap
  width 80%
  margin-left 10%
  margin-top 40px
  button 
    cursor pointer
    background-color #000000
    border none
    color #3eb954
    font-style italic
    font-size 15px
    outline none
    &:hover
      text-decoration underline
.filter-order
  width 100%
  font-size 20px

input
  background-color #000000
  outline none
  border none
  border-bottom 1px solid #ffffff
  color #ffffff
  font-size 50px
  @media screen and (max-width: 1024px)
    font-size 40px
  @media screen and (max-width: 768px) 
    font-size 30px

nav 
  .logo
    margin-left 5%
    img
      width 200px
      margin-top 10px
      cursor pointer

footer 
  display flex
  justify-content center
  align-items center
  padding 40px
  font-style italic
  font-size 14px

.hide
  display none
